    <div>
      <form #imageForm=ngForm (ngSubmit)="OnSubmit(image)">
        <div class="row">
          <div class="col-md-12">
            <img [src]="imageToShow" style="max-width:500px;max-height:500px" (click)="image.click()">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <input style="display:none;" type="file" (change)="handleFileInput($event.target.files)" #image accept="image/*">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            &nbsp;
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
        <div class="row" *ngIf="error">
          <div class="col-md-7">
            <div class="alert alert-danger" role="alert">
              {{error}}
            </div>
          </div>
        </div>



      </form>
    </div>