<div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>
    <div class="row">
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Notifications
                </div>
                <!-- /.card-header -->
                <app-notifications></app-notifications>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <div class="col-lg-6">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Last entries
                </div>
                <!-- /.card-header -->
                <!-- /.card-body -->
                <app-last-entries></app-last-entries>

            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>