<div class="card-body">
    <div class="list-group">
        <a href="javascript:void(0)" class="list-group-item clearfix d-block"  *ngFor="let notification of notifications">
            <i class="fa fa-comment fa-fw"></i> 
            <strong>{{notification.DeviceId}}:</strong> {{notification.Text}}
        
            <span class="float-right text-muted small">
                <em>{{notification.Created | date:'dd-MM-yyyy HH:mm:ss'}}</em>
                &nbsp;<a href="javascript:void(0)" class="fa fa-trash-o" (click)="delete(notification.Id, notification.DeviceId)"></a>
            </span>
        </a>
    </div>
    <!-- /.list-group -->
    <a (click)="showAll()" class="btn btn-default btn-block">View All Alerts</a>
</div>